.main__container {
  width: 90%;
  background-color: #EEF8F6;
  margin:  50px auto;
  padding: 100px;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
}

.logo__container {
  font-size: 20px;
  padding: 10px 25px;
  border: 1.5px solid black;
  position: absolute;
  top: -20px;
  left: 15px;
}
